<div class="row">
  <div class="col-md-4">
    <% if @book.cover_image.attached? %>
      <%= image_tag @book.cover_image, size: "275x400", class: 'book-show'%>
    <% end %>
  </div>
  <div class="col-md-8">
    <h2><%= @book.title %></h2>
    <h4><%= @book.author %></h4>
    <h6><%= @book.category.name %></h6>
    <p><%= @book.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render @book.reviews %>
    <% if user_signed_in? %>
      <% if @book.user_id == current_user.id %>
        <div>
          <%= link_to 'Add Review', new_book_review_path(@book) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Back", root_path %>  

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    | <%= link_to 'Edit Book', edit_book_path %> | 
    <%= link_to 'Delete Book', book_path(@book), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
  <% end %>
<% end %>
